#parse('templates/header.vm')

<h3>Albums</h3>

<table>
    <thead>
    <tr>
        <th style="white-space: nowrap;">
            <a href="/albums?$id_q_str">Album ID</a>
        </th>
        <th>
            <a href="/albums?$title_q_str">Title</a>
        </th>
        <th>
            Artist
        </th>
    </tr>
    </thead>
    <tbody>
        #foreach( $album in $albums )
        <tr>
            <td><a href="/albums/$album.AlbumId">$album.AlbumId</a></td>
            <td>$!album.Title</td>
            <td>$album.Artist.Name</td>
        </tr>
        #end
    </tbody>
</table>

$web.pagingWidget($albums)

<a href="/albums/new">[Create New Album]</a>

#parse('templates/footer.vm')
